*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    text-align: center;

    
}

main h1{
    padding: 100px;
    font-size: 40px;
}

.input-group {
    justify-content: center;
    padding: 10px;
    box-align: left;
    font-size: x-large;
}

input {
    border-radius: 10px;
    text-align: left;
    height: 35px;
    width:400px;
    margin-top: 10px;
    background-color: aliceblue;
}


button {
    background-color: whitesmoke;
    height: 50px;
    width: 200px;
    border-color: blue;
    font-style: oblique;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.212);
}